.ulli {
  font-size: 15px;
  /* margin-right: -10px; */
  /* list-style: inside; */
  padding-left: 0;
}

/* div h3 {
  margin-left: -10px;
} */

.jobdiv {
  position: relative;
  background-color: rgb(255, 252, 238);
  border-radius: 20px;
}

.hover-button {
  position: absolute;
  bottom: 2px;
  left: 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 0px 10px;
  visibility: hidden; /* Initially hidden */
  opacity: 0; /* Initially transparent */
  transition: opacity 0.3s ease-in-out;
}

.jobdiv:hover .hover-button {
  visibility: visible; /* Show the button on hover */
  opacity: 1; /* Make it fully visible on hover */
}
